
  .contact-section {
    position: relative;
    padding-bottom: 70px ;
  }
  
  .contact-social {
    text-align: center ;
    padding-top: 25px;
    color:rgb(32,37,41);
  }
  
  .contact-social-links {
    justify-content: center;
    padding-top: 15px;
    display: inline-block;
    position: relative;
    padding-inline-start: 0;
  }
  
  .contact-social-icons {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    background: rgba(255, 255, 255, 0.972);
    border-radius: 50%;
    transition: 0.5s;
  }
   
  .social-icons {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-colour {
    color: rgb(0,70,149);
  }
  
  .icon-colour:hover {
    color: rgb(250,152,53);
  
  }