.TypewriterFooter__wrapper {
    font-size: 10px;
    color: rgb(250,152,53);
    font-weight: 200;
  }
  .TypewriterFooter__cursor {
    font-size: 15px;
    color: rgb(0,70,149);
  }
  
  @media (max-width: 767px) {
    .TypewriterFooter__wrapper {
      font-size: 8;
      font-weight: 100;
    }
    .TypewriterFooter__cursor {
      display: none;
    }
  }