footer {
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    align-content: space-between;
  }
  .footer-copywright {
    text-align: center;
  }
  
  .footer-body {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .footer-copywright {
      text-align: center;
    }
  
    .footer-body {
      text-align: center;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    color: rgb(32,37,41);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }