.about-title-tech {
    font-weight: 400;
    display: flex;
    padding-top:4%;
    justify-content: center;
}


.tech-icons {
    font-size: 4.5em;
    margin: 15px;
    padding: 10px;
    opacity: 0.93;
    border: 1.7px solid rgb(250,152,53); 
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    display: table;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
    overflow: hidden;
    transition: all 0.4s ease 0s;
  }

  .tech-icons:hover {
    transform: scale(1.05);
    overflow: hidden ;
    border: 2.2px solid rgb(0,70,149);
  }
  
  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px;
    }
    .about-title {
        font-size: 1.2rem;
        font-weight: 600;

  }
  
  .tech-icons:hover {
    transform: scale(1.05);
    overflow: hidden ;
    border: 2.2px solid rgb(0,70,149);
  }
  .tech-icon-images {
    padding: 20px;
    line-height: 1.6;
  }

}
  