
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(250,152,53);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255,184,178);
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0,70,149);
    border-radius: 12px;
  }